@{
    ViewBag.Title = "Company overview";
}

<h2>Company overview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="company_table" class="table table-striped table-hover" data-order='[[ 0, "asc" ]]' data-page-length='25' ng-controller="CompanyController as controller"></table>

@section Scripts{
    <script type="text/javascript">


        /*=== DataTables ===*/
        var companyTable = $('#company_table').DataTable({
            bLengthChange: false,
            sAjaxSource: '/Company/GetCompanies',
            columns: [
                { "data": "Name" }

            ],
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', aData.Id).attr('ng-click', 'findCompany(' + aData.Id + ')');
            }
        });

        $(document).on('click', '#company_table tr[role="row"]', function () {
            var $this = $(this);
            
            
        });

        /*== AngularJS ===*/
        app.controller('CompanyController', ['$http', '$scope', function ($http, $scope) {
            var cont = this;
            cont.company = [];

            $scope.findCompany = function (id) {
                console.log(id);

                $http.get('/Company/Find/' + id).
                    success(function (data, status, headers, config) {
                        cont.company = data;
                        console.log(status);

                        var row = $('tr#' + id);

                        if (!row.hasClass('open'))
                            row.addClass('open');
                        else
                            row.removeClass('open');
                    }).
                    error(function (data, status, headers, config) {
                        console.log(status);

                        
                    });
            };
        }]);


    </script>
}