@{
    ViewBag.Title = "Company overview";
}

<h2>Company overview</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>

<div ng-controller="CompanyController as controller">
    <table id="company_table" class="table table-striped table-hover table-bordered" datatable="ng" dt-options="controller.dtOptions">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="company in controller.companies">
                <td>{{ company.Id }}</td>
                <td>{{ company.Name }}</td>
            </tr>
            
        </tbody>
    </table>
</div>
